/Back-End/Training.API/Training.API/bin
/Back-End/Training.API/Training.API/obj
/Back-End/Training.API/.vs
/Back-End/Training.Data/bin
/Back-End/Training.Data/obj
/Back-End/Training.Framework/obj
/Back-End/Training.Framework/bin
