<div class="row m-lg-3">
    <div class="card col-lg-6">
        <div class="card-header">
            Student Entollment
        </div>
        <div class="card-body">
            <form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="studentId">Select a Student</label>
                            <select class="form-control" id="studentId" [(ngModel)] ="service.selectedStudentId"
                                name="studentId" >
                                <option *ngFor="let student of service.students" [value]="student.id">
                                    {{student.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="courseId">Select a Course</label>
                            <select class="form-control" id="courseId" [(ngModel)] ="service.selectedCourseId"
                                name="courseId" >
                                <option *ngFor="let course of service.courses" [value]="course.id">
                                    {{course.title}}
                                </option>
                            </select>
                            
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">enrollDate</label>
                    <input type="date" class="form-control form-control-lg"
                        name="enrollDate" #enrollDate="ngModel" [(ngModel)] = "service.formData.enrollDate"
                         [class.invalid]="enrollDate.invalid && enrollDate.touched">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="isPaymentComplete"
                    name="isPaymentComplete" #isPaymentComplete="ngModel" [(ngModel)] = "service.formData.isPaymentComplete"
                     [class.invalid]="isPaymentComplete.invalid && isPaymentComplete.touched">
                    <label class="form-check-label" for="isPaymentComplete">Payment Complete</label>
                </div>
                <div class="form-group">
                    <button class="btn btn-info btn-lg btn-block" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>